---
# Use a comment to ensure Jekyll reads the file to be transformed into CSS later
# only main files contain this front matter, not partials.
---

@import "utils/variables";
@import "utils/mixins";

@import "vendor/normalize";

@import "base/base";
@import "base/typography";
@import "base/code";
@import "base/layout";

@import "partials/header";

@import "components/buttons";
@import "components/specimen";

@import "pages/home";
@import "pages/posts";
